body{
    background: #6863F2;
    font-family: 'Londrina Solid', cursive;}

header{
    display: block;
    justify-content: center;
    background-color: #9A8DF2;
    color: #F2F2F2;
    font-size: 2rem;
    text-align: center;
    border-radius: 10px;
    margin-left: 30%;
    margin-right: 30%;
}

nav ul li{
    list-style-type: none;
    font-size: 1.5rem;
}

a{
    text-decoration: none;
}

h1{
    text-align: center;
    color: #F2F2F2;
    font-size: 3rem;
}

#primer{
    background-color: #C3C2F2;
    justify-content: space-between;
    border-radius: 50px;
    width: 50%;
    text-align: center;
    margin-left: 25%;
    font-size: 2rem;
    color: #6863F2;
}


#contenedor{
    display: none;
    background-color: #7B77F2;
    justify-content: space-between;
    border-radius: 50px;
}

#opciones{
    display: none;
    font-size: 1.5rem;
}

.datos {
    background-color: #9A8DF2;
    color:#F2F2F2;
    width: 60%;
    margin: 50px;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}

.ticket{
    background-color: #9A8DF2;
    color: #F2F2F2;
    width: 40%;
    margin: 50px;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}

span{
    font-size: 2rem;
}

a:visited{
    color: #F2F2F2;
}

a{
    color: #F2F2F2;
}

footer{
    color: #F2F2F2;
    text-align: center;
    margin-top: 50px;
}